.form {
    color: #fff;
    text-align: center;
    padding: 0 150px;

    @media(max-width: 768px) {
        padding: 0;
    }

    h2 {
        font-size: 25px;
        line-height: 34px;
        color: #FCDB00;
    }

    p {
        font-size: 13px;
        line-height: 18px;
        padding: 50px 0;
    }

    form {
        padding: 0 100px;
        display: flex;

        @media(max-width: 992px) {
            padding: 0;
        }

        input, button {
            border: 0;
            border-radius: 5px;
            color: #333;
        }

        input {
            flex-grow: 1;
            padding: 10px;
            outline: none;
            margin-right: 20px;
        }

        button {
            background: #FCDB00;
            text-transform: uppercase;
            width: 110px;
            font-weight: bold;
            font-size: 13px;
            cursor: pointer;
            transition: .4s;

            &:hover {
                background: #333;
                color: #FCDB00;
            }
        }
    }
}