.book {
    transition: .4s;
    flex: 1 0 20%;
    margin: 25px 10px;
    
    //transform: scale(1.1);
    
    img {
        &:hover {
            cursor: pointer;
            //box-shadow: 0px 0px 40px -20px rgba(0,0,0,0.75);
        }
    }

    .modal {
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .7);

        .modal-content {
            background-color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            max-height: 600px;

            @media(max-width: 979px) {
                width: 80%;
                overflow-y: scroll;
            }

            header {
                padding: 0;
                text-align: center;
                position: relative;
                justify-content: center;

                span {
                    position: absolute;
                    right: 0;
                    top: 0;
                    cursor: pointer;
                    font-weight: bold;
                    display: block;
                    width: 30px;
                }
            }

            .no-image {
                margin-bottom: 20px;
            }

            img {
                margin-bottom: 25px;
            }
        }
    }
}